.right-section {
    background-color: var(--dark-blue);
    border-radius: 15px;
    width: 34.5rem; /* 540px */
    height: 10.5rem; /* 154px */
    margin-top: 3rem;

    .message {
        font-weight: 400;
        margin: 2.8rem 0 0 2.5rem;

        .highlight {
            font-weight: 700;
        }
    }

    .storage-bar {
        position: relative;
        display: flex;
	    align-items: center;
	    width: 85%;
	    height: 20px;
	    background-color: var(--very-dark-blue);
	    border-radius: 20px;
        margin: 1rem 0 .5rem 2.5rem;

        .storage-bar:after {
            content: '.';
            visibility: hidden;
        }

        .storage-used {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 70%;
            height: inherit;
            background-image: linear-gradient(to right, var(--gradient-yellow), var(--gradient-red));
            border-radius: 20px;

            .storage-used:after {
                content: '.';
                visibility: hidden;
            }
        }

        .storage-point {
            background-color: white;
            height: 15px;
            width: 15px;
            border-radius: 15px;
            margin-left: -18px;
        }

        .storage-empty {
            background-color: hsl(229, 57%, 11%);
            border-radius: 20px;
            margin: 15px 0 5px 0;
            height: 20px;
        }
    }

    .storage-label {
        display: flex;
        justify-content: space-between;

        .zero-label, .max-label {
            font-weight: 700;
        }

        .zero-label {
            margin-left: 2.5rem;
        }

        .max-label {
            margin-right: 2.5rem;
        }
    }
}